################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntityFrameworkCore.Repository/.vs/EntityFrameworkCore.Repository/v16
