################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntityFrameworkCore.Repository/.vs/EntityFrameworkCore.Repository/v16
/EntityFrameworkCore.Repository/EntityFrameworkCore.Repository/bin/Debug/netstandard2.0
/EntityFrameworkCore.Repository/EntityFrameworkCore.Repository/obj
*.user
